<html>
<body>
    <h1>My Math App</h1>
    
    <h3>Addition</h3>
    <form action="/sum">
        <input type="number" name="num1" placeholder="Enter first number">
        <input type="number" name="num2" placeholder="Enter second number">
        <button type="submit">Add </button>
    </form>

    <hr> <h3>Subtraction</h3>
    <form action="/subtract">
        <input type="number" name="num1" placeholder="Enter first number">
        <input type="number" name="num2" placeholder="Enter second number">
        <button type="submit">Subtract </button>
    </form>

    <hr>

    <h3>Multiplication</h3>
    <form action="/multiply">
        <input type="number" name="num1" placeholder="Enter first number">
        <input type="number" name="num2" placeholder="Enter second number">
        <button type="submit">Multiply </button>
    </form>

</body>
</html>